@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&family=Ropa+Sans&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}
body{
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(5,4,72,1) 25%, rgba(9,9,121,1) 50%, rgba(4,127,199,1) 75%, rgba(0,212,255,1) 100%);
    background-size: 400%,400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    25%{
        background-position: 100% 50%;
    }
    50%{
        background-position: 0 50%;
    }
    75%{
        background-position: 0 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.topnav{
    background-color: rgb(33, 33, 33);
    height: 60px;
    font-family: 'Ubuntu regular 400', sans-serif;
}
.topnav a{
    display: inline-block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
}
.topnav a:hover{
    cursor: pointer;
    color: #00d4ff;
    transition: ease 1s;
}
.left{
    float: left;
}
.right{
    float: right;
}
